<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074983922820-m3uv0bgj9d5tseujpnqdj8v2ics5grva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074983922820-m3uv0bgj9d5tseujpnqdj8v2ics5grva</string>
	<key>API_KEY</key>
	<string>AIzaSyAHCsfgP5hljCP7bCdXQUykBWnPWA_SVcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1074983922820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>studyptit-d0223</string>
	<key>STORAGE_BUCKET</key>
	<string>studyptit-d0223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074983922820:ios:bc2bb8d2996a35114e66d1</string>
</dict>
</plist>